.page {
    padding: 15px;
}
.message-field-combo {
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    flex: 1;
}
.message-field-combo .message-field textarea {
    font-family: 'TikTok Sans', sans-serif;
    -webkit-appearance: none;
    background-color: var(--secondary);
    border: none;
    resize: none;
    margin-bottom: none;
    flex: 1;
    width: 100%;
    outline: none;
}
.messages-container {
    max-height: 77vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.messages-container .message {
    background-color: var(--secondary);
    max-width: fit-content;
    padding: 20px;
    border-radius: 30px;
}
.messages-container .message ol,
.messages-container .message ul {
    margin-left: 20px;
}
.messages-container .message.user {
    align-self: flex-end;
    flex-direction: row-reverse;
    border-bottom-right-radius: 10px;
}
.messages-container .message.assistant {
    align-self: flex-start;
    flex-direction: row;
    border-top-left-radius: 5px;
}
.thonk-child {
    padding: 10px;
    color: #d9d9d9ae;
}